language: node_js
node_js:
- '10'
script:
- npm test
- npm run build
- echo $ADMIN_TOKEN > ADMIN_TOKEN
deploy:
- provider: firebase
  skip_cleanup: true
  token:
    secure: HeFaCaIbOOPrSjB1V9EL0HezhcAiadLuEtnbqy+Y2ePgHTYaA4NfAY3f5iJo0DXs1yBOar6ccNcumXWjgok99zcJq5B0azcDGXUs8ehGWYDzyGtyXdmKZNoq3zflXcswHsL4u7H1oZTeyh4CkuxS0V4UF1lvVJWYieaHS7baAfdgQXZN5WNJFetk/n0+O6nAn6QwFIqaU6SpMYmNEPDbUFbObdOIovtHXBcy49zFqR05XK0zXSQwVbRlzS1qcU4hXAHMsTp/jKInHucAstowbUa6v6FNz2Yyov2riEj2So0H6+Bk9W7y6Z7vPxnPU8W3Qkt1A8avXw8khA1xFArYTF+/xtwLCNHFfqsOBZoWmZGm3TPctQV/lLZe7lZ4OwFyZugb1buysiekQTDGkCidyN9FoB9D20nKofzFqrV/pJzl46Gb05Wr+GWetV10PcrsIker1tjomtzhlZL0kV1vUuzTpASbb2JsGHxim5gXc436Y3oa0kC1AponCkutbh33DHTHe7ks0SkLkVzx2bYSuWRg48t2fmSmupDLTnNrBwzej1GdlVytuslEqV7+IHqTMsblINcMoEDhvXyxcJNDgKy4lOrvAqKCoJEtRtwLFiFmgaXZLCVz0NmhacYkajxfN2WbtO2CfPM0flBfY1p+A/yMBA0o5kPY33OpvJf613E=
- provider: heroku
  app: cloudboard-app
  api_key:
    secure: mCwxu4t+Hxe9jzfz8dtRZkLscH3f1UyqQh+DaAdeN9ERiys1bEhZkmCA4jRn5+APDA2P4uhcAOtZ2+QVMzmSMXk1NPQa2EJXT3meK9dBKjg1N6kaSPA9z9W8lfrb89hy7rPSgzAL+uaCg9O5ke5QNvRa/2gfL5O3K0JZjwGXJxVR9cflyAA4aySiMcnnLEhUdYj5MRw7NZjGP7jSOtyk8DEoR5Q3tCJ+dfQj7+0EDZA7UQS3iPVzYaoogZ7wygtREON+PE/z+WRMzjVy3mlbvKi7c5N/25+qtvXw4+cAn/1S+6VSlmsyE7jpwEYojLR4QwZFR6Pe5/3icIptWWo88iw4PaybeeIDWPP1rtuovfkQlqfAXlGEGXNT49O18QZzOLdoIa3flCFvdHTMpyaEdO7EtXjMVvxr9Gp8lzwDxzzPz89Gf14jlgYR3FBQ2JQBNrHcJAhy+nIR9R++cDtBFQ7NOyktMnpPGdM+9PT+vKqul52lab4JW7QHQazjvCr2d5fyE4xCTjLq6Krn4zdNnwuhNFXeZ0hAsTk2Fai3BmkLhm+92MxCwnWG1PjR0kAC09/tDhT0T2qRuyeRQ7q55aY7UCjK/AyL7/JHw29bAnHFDCYv92WLhZeLJp55Zvwy6bMCCwCKefM9aEhbtyly1cHDFWZLFeis89ldcoFr7bg=
